---
http_interactions:
- request:
    method: get
    uri: https://api.binance.com/api/v3/ticker/bookTicker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 913f50d1-f2e5-4d03-afeb-5e3c2bdf99b4
      X-Mbx-Used-Weight:
      - '6'
      X-Mbx-Used-Weight-1m:
      - '6'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol":"ETHBTC","bidPrice":"0.07895300","bidQty":"11.30730000","askPrice":"0.07895400","askQty":"19.53640000"},{"symbol":"LTCBTC","bidPrice":"0.00255300","bidQty":"204.26900000","askPrice":"0.00255400","askQty":"29.16600000"},{"symbol":"BNBBTC","bidPrice":"0.01322900","bidQty":"4.52800000","askPrice":"0.01323000","askQty":"3.23700000"},{"symbol":"NEOBTC","bidPrice":"0.00046900","bidQty":"100.00000000","askPrice":"0.00047000","askQty":"1194.60000000"},{"symbol":"QTUMETH","bidPrice":"0.00213400","bidQty":"189.70000000","askPrice":"0.00213700","askQty":"111.80000000"},{"symbol":"EOSETH","bidP[...]
