---
http_interactions:
- request:
    method: get
    uri: https://api.binance.com/api/v3/ticker/bookTicker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 70fbf9c1-a620-476f-94bd-2c826741bf42
      X-Mbx-Used-Weight:
      - '2'
      X-Mbx-Used-Weight-1m:
      - '2'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol":"ETHBTC","bidPrice":"0.07893200","bidQty":"18.88840000","askPrice":"0.07893300","askQty":"11.29040000"}]'
  recorded_at: Wed, 17 Aug 2022 12:34:34 GMT
recorded_with: VCR 6.1.0
