---
http_interactions:
- request:
    method: get
    uri: https://api.exmo.me/v1/ticker/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"BTC_USD":{"buy_price":"6910.89000001","sell_price":"6920.745","last_trade":"6910.89000001","high":"7489","low":"6858","avg":"7233.71153792","vol":"1169.23895076","vol_curr":"8080481.77244782","updated":1522574300},"BTC_EUR":{"buy_price":"5608.40631073","sell_price":"5654.999967","last_trade":"5604.78993563","high":"6128.55961886","low":"5604.78545785","avg":"5930.71902277","vol":"348.29964718","vol_curr":"1952146.35714362","updated":1522574293},"BTC_RUB":{"buy_price":"371749.20362578","sell_price":"373866.74446","last_trade":"373866.74852","high":"402441.98778","low":"370503.82501048","avg":"390285.29634391","vol":"874.6283823","vol_curr":"326994469.45555234","updated":1522574292},"BTC_UAH":{"buy_price":"180606.81350425","sell_price":"182431.121","last_trade":"182431.12475175","high":"198700","low":"180473.73559824","avg":"192169.72289393","vol":"56.96197959","vol_curr":"10391638.00566078","updated":1522574300},"BTC_PLN":{"buy_price":"23098.00648433","sell_price":"23396.89684377","last_trade":"22450.02","high":"25661","low":"22450.02","avg":"24559.29568999","vol":"50.54998603","vol_curr":"1134848.19751962","updated":1522574295},"BCH_BTC":{"buy_price":"0.0966","sell_price":"0.0969825","last_trade":"0.0966","high":"0.10078386","low":"0.0965","avg":"0.09920766","vol":"1001.94417719","vol_curr":"96.78780751","updated":1522574292},"BCH_USD":{"buy_price":"664.89221347","sell_price":"670.88550792","last_trade":"664.89137595","high":"741.62","low":"664.89","avg":"715.00664264","vol":"1104.6565602","vol_curr":"734476.62026482","updated":1522574300},"BCH_RUB":{"buy_price":"36000","sell_price":"36287.70257674","last_trade":"36000","high":"40176.47008199","low":"36000","avg":"38767.43937851","vol":"279.07487122","vol_curr":"10046695.36392345","updated":1522574276},"BCH_ETH":{"buy_price":"1.71","sell_price":"1.72521735","last_trade":"1.72521736","high":"1.7886","low":"1.71","avg":"1.74947431","vol":"161.7227639","vol_curr":"279.00691978","updated":1522574262},"DASH_BTC":{"buy_price":"0.04351811","sell_price":"0.04391065","last_trade":"0.04367042","high":"0.04600088","low":"0.0435181","avg":"0.04497539","vol":"2334.85238232","vol_curr":"101.96398417","updated":1522574294},"DASH_USD":{"buy_price":"302.17905431","sell_price":"304.54754","last_trade":"304.54754","high":"340.97324145","low":"301","avg":"325.27710973","vol":"1992.46084804","vol_curr":"606799.04981977","updated":1522574300},"DASH_RUB":{"buy_price":"16285.0866924","sell_price":"16431.98223044","last_trade":"16285.0866924","high":"18416","low":"16285.0866924","avg":"17478.83718481","vol":"517.47860869","vol_curr":"8427184.00406657","updated":1522574280},"ETH_BTC":{"buy_price":"0.05614597","sell_price":"0.05637026","last_trade":"0.05637053","high":"0.057415","low":"0.0560006","avg":"0.05674842","vol":"5452.74737806","vol_curr":"307.37425965","updated":1522574300},"ETH_LTC":{"buy_price":"3.33921801","sell_price":"3.36190765","last_trade":"3.339218","high":"3.41675754","low":"3.28","avg":"3.36274906","vol":"254.78143723","vol_curr":"850.77076128","updated":1522574298},"ETH_USD":{"buy_price":"387.001935","sell_price":"388.901","last_trade":"387","high":"423.9999","low":"386.00579805","avg":"410.6710991","vol":"4150.17895464","vol_curr":"1606119.255447","updated":1522574300},"ETH_EUR":{"buy_price":"315.27713611","sell_price":"317.02383772","last_trade":"317.02383888","high":"347.99369795","low":"315.28","avg":"336.90041908","vol":"1102.06940981","vol_curr":"349382.27501314","updated":1522574299},"ETH_RUB":{"buy_price":"20926.31390635","sell_price":"21000","last_trade":"21000","high":"22918.86999999","low":"20895.5757001","avg":"22184.60253032","vol":"1188.06622984","vol_curr":"24949390.82667638","updated":1522574300},"ETH_UAH":{"buy_price":"10275.6208468","sell_price":"10347.676069","last_trade":"10275.6208468","high":"11314.6825555","low":"10275.6208468","avg":"10911.82207137","vol":"724.11189668","vol_curr":"7440699.30103425","updated":1522574300},"ETH_PLN":{"buy_price":"1302.49088301","sell_price":"1415.044033","last_trade":"1350","high":"1443.1","low":"1350","avg":"1390.70349133","vol":"269.40551866","vol_curr":"363697.45020334","updated":1522574298},"ETC_BTC":{"buy_price":"0.00205002","sell_price":"0.00206665","last_trade":"0.0020666","high":"0.00209457","low":"0.00204483","avg":"0.002063","vol":"4667.65317439","vol_curr":"9.64617205","updated":1522574300},"ETC_USD":{"buy_price":"14.200842","sell_price":"14.338998","last_trade":"14.20084203","high":"15.306","low":"14.2007","avg":"14.90210774","vol":"19775.76189433","vol_curr":"280832.47068429","updated":1522574299},"ETC_RUB":{"buy_price":"772.13","sell_price":"785.67999944","last_trade":"771.13000001","high":"831.18789466","low":"771.13","avg":"808.22654382","vol":"4203.94068412","vol_curr":"3241784.77979208","updated":1522574281},"LTC_BTC":{"buy_price":"0.0167232","sell_price":"0.016849","last_trade":"0.01684967","high":"0.01726852","low":"0.0165995","avg":"0.01690131","vol":"3497.57156678","vol_curr":"58.9329267","updated":1522574287},"LTC_USD":{"buy_price":"115.79791018","sell_price":"116.7519465","last_trade":"116.7519465","high":"126.96416875","low":"115.70822935","avg":"122.84231355","vol":"1816.56743565","vol_curr":"212087.78406119","updated":1522574299},"LTC_EUR":{"buy_price":"94.4115875","sell_price":"94.93094529","last_trade":"94.56722021","high":"104.25999999","low":"94.08229945","avg":"99.95031265","vol":"489.08462656","vol_curr":"46251.37358164","updated":1522574298},"LTC_RUB":{"buy_price":"6262.8422","sell_price":"6297.47833","last_trade":"6254.92670679","high":"6815.60475791","low":"6254.92670679","avg":"6609.44210497","vol":"604.54181166","vol_curr":"3781364.72316422","updated":1522574297},"ZEC_BTC":{"buy_price":"0.02709824","sell_price":"0.02728332","last_trade":"0.02709807","high":"0.0275","low":"0.02655","avg":"0.02698859","vol":"1201.00102996","vol_curr":"32.54480998","updated":1522574297},"ZEC_USD":{"buy_price":"187.57860645","sell_price":"188.9","last_trade":"187.49","high":"202.808938","low":"187.43305818","avg":"195.0624877","vol":"1910.23148966","vol_curr":"358149.30199643","updated":1522574299},"ZEC_EUR":{"buy_price":"153.09","sell_price":"153.50894171","last_trade":"153.09","high":"166.0553332","low":"152.7199643","avg":"160.34839446","vol":"370.96468155","vol_curr":"56790.98309898","updated":1522574153},"ZEC_RUB":{"buy_price":"10139","sell_price":"10150","last_trade":"10139","high":"10874.1940816","low":"10139","avg":"10534.21403147","vol":"481.23036145","vol_curr":"4879194.63476746","updated":1522574123},"XRP_BTC":{"buy_price":"0.00007177","sell_price":"0.00007212","last_trade":"0.00007177","high":"0.00007278","low":"0.00007157","avg":"0.00007212","vol":"572973.44620849","vol_curr":"41.12230423","updated":1522574300},"XRP_USD":{"buy_price":"0.496","sell_price":"0.49899993","last_trade":"0.496","high":"0.53769102","low":"0.496","avg":"0.52161175","vol":"1717022.47431378","vol_curr":"851643.14725963","updated":1522574297},"XRP_RUB":{"buy_price":"26.7833208","sell_price":"26.8","last_trade":"26.8","high":"29.5","low":"26.71100001","avg":"28.18640754","vol":"427175.92001579","vol_curr":"11448314.65642327","updated":1522574296},"XMR_BTC":{"buy_price":"0.02545015","sell_price":"0.02562298","last_trade":"0.02562298","high":"0.0259","low":"0.02495463","avg":"0.02546439","vol":"820.46076472","vol_curr":"21.02264976","updated":1522574240},"XMR_USD":{"buy_price":"175.700001","sell_price":"177.11615786","last_trade":"177.11615786","high":"188.42","low":"175","avg":"184.53218983","vol":"1105.03511055","vol_curr":"195719.57308191","updated":1522574299},"XMR_EUR":{"buy_price":"143.8","sell_price":"144.86119582","last_trade":"143.8","high":"154.89754359","low":"143.8","avg":"150.95398518","vol":"107.49455776","vol_curr":"15457.71740727","updated":1522574297},"BTC_USDT":{"buy_price":"6621.73743279","sell_price":"6681.46705338","last_trade":"6621.73743279","high":"7239","low":"6621.73743279","avg":"7009.96303388","vol":"48.97413534","vol_curr":"324293.86527662","updated":1522574293},"ETH_USDT":{"buy_price":"372.49740762","sell_price":"373.05354625","last_trade":"373.05354625","high":"407.30787201","low":"371.0510279","avg":"396.09805516","vol":"101.25225456","vol_curr":"37772.512633","updated":1522574298},"USDT_USD":{"buy_price":"1.03570001","sell_price":"1.04202998","last_trade":"1.04202998","high":"1.0456699","low":"1.033","avg":"1.03745939","vol":"22021.37667391","vol_curr":"22946.93469508","updated":1522574300},"USDT_RUB":{"buy_price":"55.87200331","sell_price":"56.37598273","last_trade":"55.8720033","high":"56.9","low":"55.75","avg":"56.2575705","vol":"18622.42942467","vol_curr":"1040472.43826921","updated":1522574295},"USD_RUB":{"buy_price":"53.841","sell_price":"54.05047789","last_trade":"53.841","high":"54.51","low":"53.68671769","avg":"54.10056372","vol":"84241.4469055","vol_curr":"4535643.74283917","updated":1522574292},"DOGE_BTC":{"buy_price":"0.00000039","sell_price":"0.0000004","last_trade":"0.00000039","high":"0.0000004","low":"0.00000039","avg":"0.00000039","vol":"13096605.48813702","vol_curr":"5.10767614","updated":1522532442},"WAVES_BTC":{"buy_price":"0.000523","sell_price":"0.00052473","last_trade":"0.00051999","high":"0.00052871","low":"0.00051812","avg":"0.0005238","vol":"154863.23956554","vol_curr":"80.52733594","updated":1522574297},"WAVES_RUB":{"buy_price":"194.01","sell_price":"196.79999999","last_trade":"193","high":"211.49999999","low":"193","avg":"204.35762338","vol":"10671.67478484","vol_curr":"2059633.23347567","updated":1522574294},"KICK_BTC":{"buy_price":"0.00000734","sell_price":"0.00000736","last_trade":"0.00000734","high":"0.00000743","low":"0.00000726","avg":"0.00000738","vol":"865051.34505959","vol_curr":"6.34947687","updated":1522574267},"KICK_ETH":{"buy_price":"0.00013008","sell_price":"0.0001309","last_trade":"0.0001309","high":"0.000133","low":"0.0001271","avg":"0.00013034","vol":"1202176.50751433","vol_curr":"157.36490483","updated":1522574267}}'
  recorded_at: Wed, 14 Mar 2018 21:00:49 GMT
recorded_with: VCR 3.0.3
